
.favorite {
    display: flex;
    position: fixed;
    right: 0;
    flex-direction: column;
    width: 480px;
    padding: 40px;
    background: #F8F8F8;
    height: 100vh;
    box-sizing: border-box;
}

.favorite_text {
    font-weight: 500;
    font-size: 20px;
    color: #ABABAB;
}

.label_container {
    display: flex;
    justify-content: flex-end;
}



@media (min-width:480px) and (max-width:1080px){

    .favorite {
        margin-left: calc(100% - 480px);
        padding: 40px;
    }

    .favorite_text, .none {
        display: none;
    }
  }
  @media(max-width:480px){
   
    .favorite {
        width: 100%;
        padding: 20px;
    }

    .favorite_text, .none {
        display: none;
       
    }
  }