

.favorite_btn {
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: space-between;
  }
  
  .favorite_text {
    font-weight: 500;
    font-size: 20px;
    color: #ABABAB;
  }
  
  .btn {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .none {
    display: none;
  }

  @media (min-width:1080px){

    .favorite_btn {
      display: none;
    }

  }